@model IEnumerable<TiendaElectronica.venta>

@{
    ViewBag.Title = "Historial";
}

<h2>Compras</h2>

<table class="table">
    <tr>
        <th>
            Fecha de venta
        </th>
        <th>
            Numero de presupuesto
        </th>
        <th>
            Monto total
        </th>

        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        foreach (var p in ViewBag.presupuesto)
        {
            if (item.IdPresupuesto == p.idPresupuesto)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.presupuesto.PresupuestoNro)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.presupuesto.subtotal)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.idVenta, idCliente = ViewBag.idCliente }) 
                    </td>
                </tr>
            }
        }
    }

</table>
