@{
    ViewBag.Title = "Soporte";
}
<h2>@ViewBag.Title.</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Telefono">P:</abbr>
    0351-499-9999
</address>

<address>
    <strong>Soporte opcion 1:</strong> <a href="mailto:leandrocoggiola@hotmail.com">leandrocoggiola@hotmail.com</a><br />
    <strong>Soporte opcion 2:</strong> <a href="mailto:nicorodriguezt@gmail.com">nicorodriguezt@gmail.com</a>
</address>