@{
    ViewBag.Title = "TiendaElectronica";
}

<div class="jumbotron">
    <h1>WorldPC</h1>
    <p class="lead">Bienvenido a WorldPC. Si estas buscando la computadora de tus sueños, encontraste el lugar. Empeza armando tu presupuesto ya</p>
    <p><a href=@Url.Action("Index", "presupuestoes", new { idCliente = 1 }) class="btn btn-primary btn-lg">Adelante! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Articulos</h2>
        <p>
            Encuentra lo que estas buscando. Presiona el boton para conocer todo los productos que ofrecemos para que armes tu PC
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Lista", "productoes")>Veamos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuevas Funcionalidades</h2>
        <p>Estamos buscando nuevas formas de sorprenderte y acercarnos a vos, por eso nos enfocamos en traer nuevas caracteristicas. Visitanos pronto para informarte de nuevos cambios</p>

    </div>
    <div class="col-md-4">
        <h2>Se me acabaron las ideas</h2>
        <p>No sabia que mas mostrar por ahora :)</p>
    </div>
</div>